.sansserif{font-family:'Open Sans','Verdana',sans-serif}html{font-size:16px;line-height:1.8rem}body{font-family:'Open Sans','Verdana',sans-serif;color:#333;padding:0;margin:0}blockquote{border-left:20px solid #f2f2f2;color:#737373;margin:0;padding:0 20px}pre{font-size:.9rem;background-color:#eee;padding:10px}.container{max-width:640px;margin:0 auto}.container>*{padding:0 20px}.container header{padding:20px}.container header h1,.container header p{margin:0;padding:0}.container header p a{text-decoration:none}.container header h1{margin-bottom:20px}.container header h1 a{text-decoration:none;color:#333}.container .content{margin:100px 0}.container .itemlist{list-style:none;margin:0;padding:0}.container .itemlist>li{margin-bottom:100px}.container .itemlist>li .end{color:#b3b3b3;font-size:.8rem;text-align:center}.container .archivelist{list-style:none;margin:0;padding:0}.container .archivelist ol{list-style:none;margin:0;padding:0}.container .archivelist .date{color:#b3b3b3;font-size:.7rem}.container nav{margin-bottom:60px}.container footer{font-size:.8rem;color:#b3b3b3;text-align:right}

.container header h1 {
    margin-bottom: 32px;
}

/* temp hack. of course :P */
.content img { max-width: 100%; }
.content pre { overflow-x: scroll; }
a.text-decoration-none { text-decoration: none; }
.container .archivelist { margin-bottom: 100px; }
