<div class="border-y border-t-gray-100 border-b-gray-300 py-10">
    <div class="text-gray-600 pb-12 max-w-screen-sm mx-auto">
        <div class="px-6 mb-12">
            {% if is_single %}
            <div class="text-gray-400 mb-6">{{ article.locale_date }}</div>
            {% endif %}
            {% if article.link %}
            <h2 class="pb-6 text-2xl">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">&#8727;</a>
                <a class="underline" href="{{ article.link }}">{{ article.title }}</a>
            </h2>
            {% else %}
            <h2 class="pb-6 text-2xl">
                <a class="underline" href="{{ SITE_URL }}/{{ article.url }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">{{
                    article.title }}</a>
            </h2>
            {% endif %}
            <div class="prose">
                {{ article.content }}
            </div>
        </div>
        <div class="px-6 flex justify-end text-gray-400 text-sm">
            {% if article.category %}
            <div><a class="underline" href="{{ SITE_URL }}/{{ article.category.url }}">{{ article.category
                    }}</a></div>
            {% endif %}
            {% if not is_single %}
            <div class="ml-2">
                <a class="underline" href="{{ SITE_URL }}/{{ article.url }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">
                    <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></a>

            </div>
            {% endif %}
        </div>
    </div>
</div>