{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block content %}
<ol class="itemlist">
  <li>
    {% if article.link %}
      <h2>
        <a href="{{ article.link }}">{{ article.title }}</a>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}" class="text-decoration-none">&middot;</a>
      </h2>
    {% else %}
      <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
    {% endif %}
    {{ article.content }}
    <div class="end">
      &mdash;
      {% if article.modified %}
      {{ article.modified.strftime('%Y%m%d') }}
      {% else %}
      {{ article.date.strftime('%Y%m%d') }}
      {% endif %}
      &ndash;
      {% for author in article.authors %}{{ author }}{% endfor %}
      &mdash;
    </div>

  </li>
  <li>

    {#
    {% if DISQUS_SITENAME %}
    <div class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
var disqus_identifier = "{{ article.url }}";
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
      </script>
    </div>
    {% endif %} 
    #}

  </li>
</ol>

{#
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <footer class="post-info">
    <abbr class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </abbr>
	{% if article.modified %}
    <abbr class="modified" title="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </abbr>
	{% endif %}
    {% if article.authors %}
    <address class="vcard author">
      By {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </address>
    {% endif %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
#}
{% endblock %}
