<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <script async src="https://getmirrorshades.com/agent.js" data-siteId="MA-6WVKWD-GAD"></script>

    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="GkQ3mldmEUDgy6NMhtpFfeE_-U-BCa36sCqUUf5Tqh4" />
    <meta name="description" content="aldiantoro nugroho. @kriwil. indonesia. part-time programmer. full-time dreamer. elm. linux. ubuntu. python. django. vim. indiana pacers. manchester united. random." />

    <link rel="shortcut icon" href="{{ SITEURL }}/theme/img/favicon.png">
    <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/img/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {% assets filters="cssmin", output="css/style.min.css", "css/normalize.css", "css/main.css" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
  </head>

  <body>
    <div class="container">
      <header>
        <h1><a href="/"><img src="{{ SITEURL }}/theme/img/header.png" alt="kriwil logo" title="kriwil" style="width:250px"></a></h1>

        {% if category and category.slug == 'development' %}
          <p>Hi, I'm <strong>Aldiantoro Nugroho</strong>. Here I talk all about development. Mostly Technical. Enjoy!</p>
        {% else %}
          <p><strong>aldiantoro nugroho</strong>. <a href="https://www.twitter.com/kriwil">@kriwil</a>. indonesia. part-time programmer.
            full-time dreamer. elm. linux. ubuntu. python. django. vim.
            indiana pacers. manchester united. random.</p>
        {% endif %}
      </header>

      <div class="content">


        {% block content %}{% endblock %}

        <div>If you have any comment, tweet me <a href="https://twitter.com/kriwil">@kriwil</a>.</div>
      </div>

      <footer>
        <a href="/archives.html">archives</a> &middot;
        <span>kriwil.com &middot; aldiantoro nugroho</span>
      </footer>
    </div>
  </body>

</html>
